@import './styles/theme.css';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-deep);
  color: var(--color-text-main);
  overflow: hidden;
}

#root {
  position: relative;
  z-index: 0;
}